# ---------------------------------
# File secrets
# ---------------------------------
.streamlit/secrets.toml

# ---------------------------------
# Python cache / bytecode
# ---------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------------
# Data / output files
# ---------------------------------
*.pdf
*.csv
*.xlsx
*.tsv

# ---------------------------------
# IDE / Editor
# ---------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ---------------------------------
# OS / system files
# ---------------------------------
.DS_Store
Thumbs.db
